<section>
  <h1> What we stand for </h1>
  Happy Booksgiving believes "Education" is <b>the most important ingredient </b> for India's sucess and the one that will determine its growth, and transition from a developing to a developed country. We exist with deep belief (and so does our constitution)
  that every child can and must attain education.
  A huge number of children are devoid of this right just because they cant afford books.
  We know, its sad!. But, lets stop being sad and start being beautiful and you know whats beuatiful - helping !
  We need help of beautiful people like you to put books into the hands of children who need them. Let's help them reach their potential. As they say, Our Children- Our Future!
  <em>“When you give someone a book, you don’t give him just paper, ink, and glue, you give him the possibility of a whole new world.” —Christopher Marley </em>

  so, Give , Lend or Share - Come show you Care Happy Books Giving !
</section>
