<html lang="en-US">

<head>
	<meta charset="utf-8">
	<title>Edit your centre</title>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ngosignup_stylesheet.css') }}" />


</head>

<body>


	<div id="maindiv">

		<div class="navigationBar" id="navBar">
			<ul>
				<li><a href="home.html" class="selected">Home</a></li>
				<li><a href="addBorrowingDetails.html">Borrow A Book</a></li>
				<li><a href="addDonationDetails.html">Donate A Book</a></li>
				<li><a href="showBooksInCentre.html">Inventory</a></li>
				<li><a href="showCentre.html">My center</a></li>
			</ul>
		</div>
