<!DOCTYPE html>


<head>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/borrowbook_findlocation.css">
  <title>
    Happy Booksgiving!
  </title>
</head>

<body>
  <div id="main">
    <div id="greypage">
    <div id="header">
      <a href="home.html">
        <h1>Happy Booksgiving! </h1>
      </a>
      <p id="color"> You were born with the ability to change someone's life - Don't WASTE it! </p>
    </div>
    <div class="navigationBar" id="navBar">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="borrow.html" class="selected">Borrow A Book</a></li>
        <li><a href="donate.html">Donate A Book</a></li>
        <li><a href="#6">Partner Organisations</a></li>
      </ul>
    </div>

  <div class="modal-dialog">
    <div class="modal-content">
      <div id="screenreader" class="modal-header pd_right_0-75 pd_left_0-75 pd_top pd" aria-labeledby="modalTitle" tabindex="1">
        <button class="close right tx_2-00 g-1-24" aria-label="close" data-dismiss="modal" type="button"> x</button>
        <h4 id="modalTitle" class="tx_bold grey g-11-12" tabindex="1">Added to your Bag</h4>
      </div>
      <div class="modal-body pd_top_0-75 pd_right_0-75 pd_left_0-75">
        <div class="product-container g-1-1" tabindex="1">

            <h1>Book Name </h1>
            <div class="product-info">
                <div class="description">
                  <span> Author:</span> Name of Author
                  <br></br>
                  <span>ISBN:</span> Isbn Number
                  <br></br>
                  <span>Availability:</span> 2 in stock
                  <br></br>
                </div>
                </div>

            </div>
          </div>
          <div class="modal-footer pd_0-75 pd_right_0-75 pd_left_0-75">
          <div class="left g-1-1">
            <div class ="g-1-2 border-box left pd_right_sm">
              <button class="btn grey-bg tx-bold" data-dismiss="modal" type="button" >Keep Looking </button>
            </div>
            <div class ="g-1-2 border-box left pd_left_sm">
              <a class="placeRequest" href="#" tabindex="-1">
  <button class="btn orange-bg tx-bold" data-dismiss="modal" type="button" > Place Request</button>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
  </div>
</div>
    <div id="footer_grey">
      <a href="home.html">
        <h1>Happy Booksgiving! </h1>
      </a>
    </div>
    <div id="tag">
    Donate and borrow books

    </div>



  <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/location.js"></script>
</body>

</html>
