<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Delete your centre</title>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ngosignup_stylesheet.css') }}" />
</head>

<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/ngosignup_stylesheet.css">

</head>

<body>

	<div id="maindiv">

					<div class="navigationBar" id="navBar">
						<ul>
							<li><a href="home.html" class="selected">Home</a></li>
							<li><a href="addBorrowingDetails.html">Borrow A Book</a></li>
							<li><a href="addDonationDetails.html">Donate A Book</a></li>
							<li><a href="showBooksInCentre.html">Inventory</a></li>
							<li><a href="showCentre.html">My center</a></li>
						</ul>
					</div>

<div id = "centre_details">
	<h1> Are you sure you want to delete {{centre.name}}? </h1>
</br>
	<form action="{{ url_for('deleteCentre',centre_id = centre.centre_id)}}" method = 'post'>

	<p>	<input type='submit', value = 'Yes'></p>
		</form>
	</br>
	<a href = "{{ url_for('centreInfo', centre_id = centre_id)}}"> Cancel </a>
		</body>

</div>


<div id="footer">
	<a href="home.html">
		<h1>Happy Booksgiving! </h1>
	</a>
</div>

<div id="tag">
You were born with the ability to change someone's life <br>Don't WASTE it!
</div>

</div>
</div>
</body>

</html>
