<!-- /user/<string:user_id>/logout-->
<!-- /centre/<string:centre_id/logout -->

<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Login</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/ngosignup_stylesheet.css">



</head>

<body>

<div id="main">
	<div id="loggingout_note">
			<h2>We hope to see you soon!</h2>
		<div id="content"	>
			<p>
				Thanks for stopping by! Be sure to keep us with us on Facebook, Twitter
				<br></br>
				Cheers!
					<br></br>
				Happy Booksgiving Team
			</div>
			<div id="footer">
				<a href="home.html">
					<h1>Happy Booksgiving! </h1>
				</a>
	</div>

</div>
</div>

<script type="text/javascript">
setTimeout("window.location='home.html'",15000);
</script>
	</body>

</html>
