<!-- /donate/books/<search>/ -->
<!DOCTYPE html>


<head>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link href="social-buttons.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/donateabook.css">
  <title>
    Happy Booksgiving!
  </title>
</head>

<body>

  <div id="signup-header">
    <!-- To make a beautiful society, All we need is beautiful people who are willing to act and particpate in the development of a country. Happy Thanksgiving helps you to Give , Lend or Share your books with the needy.     -->
    <p>
      <a href="signup.html" class="button">Sign Up to Donate Books  </a>
    </p>
  </div>

  <!-- <body>
    <div id="signupBar">
      <ul>
        <li>
          <a href="signup.html">
            <span class="user"></span> Sign Up | Login </a>
        </li>
        <!<li>
          <a href="#">
            <span class="log-in"></span> Login</a>
        </li></ul> </div>-->


  <div id="main">

    <div id="header">
      <a href="home.html">
        <h1>Happy Booksgiving! </h1>
      </a>
      <p id="color"> You were born with the ability to change someone's life - Don't WASTE it! </p>

    </div>
    <div class="navigationBar" id="navBar">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="borrowLink.html" >Borrow A Book</a></li>
        <li><a href="donateLink.html" class ="selected">Donate A Book</a></li>
      <li><a href="partnerorganisations.html">Partner with us</a></li>
    </div>


    <div class="searchbar">
      <h2>Donate A Book</h2>
      <div>

      </div>
      <form class="form-wrapper cf">
        <input type="text" placeholder="Enter your Book Title Here..." required>
        <button type="submit">Lookup</button>
      </form>
      <!-- short description:placeholder– Basically, this attribute shows a text in a field until the field is focused upon, then it just hides the text.
    required– This specifies that the current element is a required part of a form submission.  -->
    </div>

<div class= "seen">

    <h2> Recent Borrow Requests </h2>

    <div class="recent-borrow-requests">


      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>
      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class="item-buttons borrow-button"> Borrow</button>
        <button class="item-buttons donate-button"> Donate</button>
        <button class=" item-discuss">Discuss Book</button>
      </div>

    </div>
</div>

<h2> Last Donated By You</h2>
    <div class="last-donated">
      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class=" item-discuss">Discuss Book</button>
          <button class="item-buttons donate-button"> Donate</button>
      </div>


      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class=" item-discuss">Discuss Book</button>
          <button class="item-buttons donate-button"> Donate</button>
      </div>


      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class=" item-discuss">Discuss Book</button>
          <button class="item-buttons donate-button"> Donate</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class=" item-discuss">Discuss Book</button>
          <button class="item-buttons donate-button"> Donate</button>
      </div>

      <div class="item">
        <div class="item-details"> <b>ADD Name Author and brief information about book</b></div>
        <button class=" item-discuss">Discuss Book</button>
          <button class="item-buttons donate-button"> Donate</button>
      </div>
    </div>

    <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md--12">Books Last seen </div>
    </div>
    <div class="row">
      <div class="col-md-3"> First Book</div>
      <div class="col-md-3">Second book</div>
      <div class="col-md-3">Third Book</div>
      <div class="col-md-3">Fourth Book   </div>
    </div>

  </div> -->


  <div id="footer">
    <a href="home.html">
      <h1>Happy Booksgiving! </h1>
    </a>
</div>
<div id="tag">
  Donate and borrow books

</div>
</div>

  </div>
</body>

</html>
