 <!-- /borrow/books/<int:book_id>/<centres> -->

<DOCTYPE html>


<head>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/borrowbook_findlocation.css">
  <title>
    Happy Booksgiving!
  </title>
</head>

<body>
  <div id="signup-header">
    <!-- To make a beautiful society, All we need is beautiful people who are willing to act and particpate in the development of a country. Happy Thanksgiving helps you to Give , Lend or Share your books with the needy.     -->
    <p>
      <a href="signupUser.html" class="button">Sign Up to Donate Books  </a>
    </p>
  </div>

  <div id="main">
    <div id="header">
      <a href="home.html">
        <h1>Happy Booksgiving! </h1>
      </a>
      <p id="color"> You were born with the ability to change someone's life - Don't WASTE it! </p>
    </div>
    <div class="navigationBar" id="navBar">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="borrowLink.html" class="selected">Borrow A Book</a></li>
        <li><a href="donateLink.html">Donate A Book</a></li>
        <li><a href="partnerorganisations.html">Partner with us</a></li>
      </ul>
    </div>

    <br>

<div class = "centre_details">
<h1> You can donate your book - "name of book to be entered here" at one of these nearby located centres:</h1>
<br>
<ul class = "centres">
  <li>
  <ul class = "centre">
      <li>Name of centre :</li><br>
      <li>Address :</li><br>
      <li>Phone number :</li><br>
    </ul>
  </li>
  <br>
  <br>


<li>
<ul class = "centre">
    <li>Name of centre :</li><br>
    <li>Address :</li><br>
    <li>Phone number :</li><br>
  </ul>
</li>
<br>
<br>

<li>
<ul class = "centre">
    <li>Name of centre :</li><br>
    <li>Address :</li><br>
    <li>Phone number :</li><br>
  </ul>
</li>
<br>
<br>


<li>
<ul class = "centre">
    <li>Name of centre :</li><br>
    <li>Address :</li><br>
    <li>Phone number :</li><br>
  </ul>
</li>
<br>
<br>

<li>
<ul class = "centre">
    <li>Name of centre :</li><br>
    <li>Address :</li><br>
    <li>Phone number :</li><br>
  </ul>
</li>
<br>
<br>

</ul>
</div>

<div id="footer">
  <a href="home.html">
    <h1>Happy Booksgiving! </h1>
  </a>
<div id="tag">
  Donate and borrow books

</div>
</div>


</body>

</html>
