<!-- /centre/<string:centre_id>/welcomepage-->

<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/ngosignup_stylesheet.css">



</head>

<body>

<div id="maindiv">
	<!-- <div id="header">
<a href="home.html"> <h1>Happy Booksgiving! </h1></a>
		<p id="color"> You were born with the ability to change someone's life - Don't WASTE it! </p>

	</div> -->
	<div class="navigationBar" id="navBar">
		<ul>
			<li><a href="home.html" class="selected">Home</a></li>
			<li><a href="addBorrowingDetails.html">Borrow A Book</a></li>
			<li><a href="addDonationDetails.html">Donate A Book</a></li>
			<li><a href="showBooksInCentre.html">Inventory</a></li>
				<li><a href="showCentre.html">My centre</a></li>
				<li><a href="showCentres.html" >All centres</a></li>
		</ul>
	</div>
	<div id="login_note">
			<h2>Welcome Back to <a href="home.html">Happy Booksgiving!</a></h2>
		<div id="content"	>
			<ul>
				<!-- Thousands of people have no acess to book in our country. Together, We can put books in their hands.
				Thank you for joining us! -->
		<p>
		Together We can increase acess to books for all. <br>Let's Get to Work!
		</p>
				<li>
					<a href="helpdonate.html">Help Donate A Book</a>
				</li>
			<li>
		<a href="#">Help Borrow A Book</a>
			</li>
				<li>
				<a href="#">Look at Inventory of Books in your center</a>
				</li>
				<li>
					<a href="#">Get a list of Donations and borrowings made at your center</a>
				</li>
			</ul>
			</div>
			<div id="quote_cover">
<div id="quote">
<p>
	“Books are a uniquely portable magic.”
	<br>- Stephen King
</p>
</div>
</div>

			<div id="footer">
				<a href="home.html">
					<h1>Happy Booksgiving! </h1>
				</a>
	</div>
	<div id="tag">
	 You were born with the ability to change someone's life <br>Don't WASTE it!
	</div>

</div>
</div>


	</body>

</html>
