<!-- /about -->

<!DOCTYPE html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
  <title>
    Happy Booksgiving!
  </title>
</head>

<body>
  <div class="yellow">
    <div id="signupBar">
      <ul>
        <li>
          <a href="signupUser">
            <span class="user"></span> Sign Up | Login</a>
        </li>
      </ul>
    </div>

    <div id="main">

      <div id="header">
        <a href="home">
          <h1>Happy Booksgiving! </h1>
        </a>
        <p id="color"> You were born with the ability to change someone's life - Don't WASTE it! </p>

      </div>

      <div class="navigationBar" id="navBar">
        <ul class="navBar_inside">
          <li> <a href="home">Home</a></li>
          <li> <a href="about" class="selected" id="dropdown">About Us</a></li>
          <li><a href="borrowLink">Borrow A Book</a></li>
          <li><a href="donateLink">Donate A Book</a></li>
          <li><a href="partnerorganisations">Partner with us</a></li>

        </ul>

      </div>
      <div class="dropdown-content">
        <ul>
          <li>
            <a href="about#headline1">Why do we Exist?</a>
          </li>
          <li>
            <a href="about#headline2">Our Vision</a>
          </li>
          <li>
            <a href="about#headline3">Our Approach</a>
          </li>
        </ul>
      </div>

      <div class="About_content">
        <div class="explain" id="headline1">
          <p class="heading ">
            Everyone has a right to learn </p>
          <div class="border">
            <p class="content">
              Almost half of India's population drops out of school by the age of 13.
              <br>
              <p>

              </p>

              <p class="content">
                In our country today, the education you receive depends on where you live, what your parents earn. Many guardians are so poor that they cant manage even two square meals a day for their families. It is too much to expect from them to arrange books, note
                books etc. for their children.On the contrary they find it easy to stop their children's education and put them into some trade to earn money. Thus a large percentage of promising children are denied education. For many impoverished families, Schooling &
                <b
                  class="black"> Buying books is viewed as a financial burden</b>. Poor children have little acess to book at home and in their communities. They attend schools with poorly supported school libraries.
              </p>
              <br>
              <p class="content"> <b class="black">Public funds are insufficient </b> to cover education costs. We believe <b>Education is the most important ingredient for India's success </b> and the one that will determine its growth, and help in its transition from a
                developing to a developed country. Schools throughout India experience shortages of books.
                <br>
                <p> </p>

                <p class="content">
                  <b class="black"> The government alone can't make improvements </b>as much as it is their job. We all dream of a <b>Beautiful </b>India. Its time we come and act together to change things, help each other and make India truly beautiful.</p>
                <p class="content font">
                  <b>  Together WE can do so much!</b>
                </p>
          </div>
        </div>
        <div class="vision" id="headline2">
          <p class="heading "> Our Vision </p>
          <p class="heading new"> Giving Every Child in India a <b> Fair Shot at a Great Education</b> </p>
        </div>
        <div class="quote_cover">
          <div id="quote">
            <p>
              "For the majority of young people, enthusiastic and habitual reading is the single most predictive personal habit for the ability to achieve desirable life outcomes."
              <br></br>
              - Bayless, 2010.</p>

          </div>
        </div>

        <div class="approach">
          <p class="heading" id="headline3"> Our Approach </p>
          <p class="content">
            We know that it is possible to achieve an India, where every child can attain education.
            <br> WE can do this if WE, together act to turn this dream to reality. Happy Booksgiving is founded to help build literacy by putting books into the hands of children who have little or no access to them. Working through organizations that help
            children in need, We help you connect with those who needs Books.
            <br> Happy Booksgiving is proud to work with many wonderful organizations in India to promote literacy and learning. Please show your support for those businesses that host our book collection bins. These businesses help us collect many of the
            books that we distribute!
            <br>
          </p>
          <div class="borrowing">
            Borrowing

            <p class="borrow_content">
              A list of books available for donations can be found online. You can place a request to borrow books online.
              <br>Happy Thanksgiving will help you locate the nearest book-centre with the requested book. You can coordinate with the book-centre using your online account.
            </p>
          </div>
          <div class="donating">
            Donating
            <p class="donate_content">
              You can indicate the desire to donate a book online. Happy Booksgiving will help you to locate the nearest drop off location for donating books.
              <br>A list of requested books can be found online. Your online account will maintain a summary of your transactions.
            </p>
          </div>
        </div>
        <div class="clear">

        </div>
        <br>
        <p class="content">
          To participate in donating and borrowing Books, you must first register as a user on the site.
        </p>
        <div id="footer">
          <a href="home">
            <h1>Happy Booksgiving! </h1>
          </a>
        </div>
        <div id="tag">
          Donate and borrow books
        </div>

      </div>
    </div>
  </div>
</body>

</html>
<!-- It is possible to achieve an India, where <b>every child</b>can attain education.>

</div>
  <b>Every child </b>can and must attain education.
The goal of Universal Education is becoming increasingly difficult to achieve.  -->
<!-- It is possible to achieve an India, where <b>every child</b>can attain education. Together <b>WE </b>can do so much!
To make a <b>beautiful India</b>, All we need is <b>beautiful people </b>like <b>YOU </b>who are willing to act and particpate in the development of this country.
<p>
You & We may have the ease of buying the books at one click but many have to give up their dream of studying, graduating because they don't have the money to buy a BOOK.
</p>
<p>

</p> -->
<!-- <p>
You can donate the books (in person or by mail)to any of our particpating centers. The availablity of books can be checked at our online portal- CLICK HERE TO FIND A Book. The books can be collected from the centres.

</p> -->


<!--
We have Book Banks at multiple places in Delhi.
You can check the availability of book online.
The user is asked to pay a nominal fee of Rs 5/- per book to   -->
