<!-- /borrowLink -->
<!DOCTYPE html>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/borrow.css') }}">
  <title></title>
</head>

<body>
  <div class="animation">
    <h1>
      <em class="color">B</em>
      <em class="planet left color">O</em>
      <a href="/borrowLink/findbook" > <em style="text-decoration:underline"> Borrow</em> </a>
      <em></em>
      <em class="planet right color">O</em>
      <em  class="color" >K</em>
    </h1>

  </div>
</body>

</html>
