<!-- /donateLink -->
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}" />
</head>

<body>
  <h1>
    <em class="color">B</em>
    <em class="planet left color">O</em>
    <a href="searchBookToDonate" > <em style="text-decoration:underline"> Donate</em> </a>
    <em></em>
    <em class="planet right color">O</em>
    <em class="color">K</em>
  </h1>

</body>

</html>
