{% extends "base.html" %}
{% block css %}{% endblock %}
{% block title %}Hompage - Happy Booksgiving!{% endblock %}
{% block content %}
<div id="intro">
  <h1>
    "A book lying idle on a shelf is wasted ammunition"
  </h1>

  <p style="font-size:15px" , "text-align: right";>
    - Henry Miller, The Books in My Life
  </p>

  <p>
    Happy Booksgivings! is all about Sharing the joy of reading & knowledge with those less fortunate.
    <br>
    <u>Books you once used and no longer need can help others.</u> We need help of beautiful people like you to put books into the hands of children who need them.
  </p>
  <a href="about" class="button"> See How We Work </a>

  <div class="clear">
  </div>

</div>
{% endblock %}
