<!-- /partnerwithus -->
<!DOCTYPE html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
  <title>
    Happy Booksgiving!
  </title>
</head>


<body>
  <div id="signupBar" class="signup_button">
    <ul>
      <li>
        <a href="signup">
          <span class="user"></span> Sign Up | Login </a>
      </li>
      <!-- <li>
        <a href="#">
          <span class="log-in"></span> Login</a>
      </li> -->
    </ul>


  </div>

  <div id="main">
    <div id="partner">

      <div id="header">
        <a href="home">
          <h1>Happy Booksgiving!</h1>
        </a>
        <p id="color"> You were born with the ability to change someone's life - Don't WASTE it! </p>
      </div>

      <div class="navigationBar" id="navBar">
        <ul>
          <li><a href="home" name="linktotop">Home</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="borrowLink">Borrow A Book</a></li>
          <li><a href="donateLink">Donate A Book</a></li>
          <li><a href="partnerorganisations" class="selected">Partner with us</a></li>
        </ul>
      </div>

      <div id="thankyou_note">
        <p>
          Thank you for stopping by.
          <br></br>
          Registered Partners, Please click <a href="loginCentre">here </a>to log in and acess your HappyBooksgivings account.
          <br></br>
          We welcome all, who believe in our cause to join us and help us in our efforts to increase acess to Books!
          <br></br> Not a Partner yet. <a href="partnerorganisations#partners"> Come Join us at Happy Booksgivings! </a>
        </p>
      </div>

      <div id="quote">
        <p>
          "Ensuring that books are available to any child at any time of the year will be a good first step in enhancing the reading achievement of low-income students and an absolutely necessary step in closing the reading achievement gap."
          <br></br> - Anne McGill Franzen and Richard Allington, 2009
        </p>
      </div>
      <div id="partners">


        <div class="partners left">
          <a href="signupCentre">
            <h1> NGO,charities, Nonprofit & private voluntary organizations </h1>
          </a>
          <p>
            We understand we cant depend on government to solve all our problems. We appreciate your efforts in solving problems of sustainability, social equality and the environment.We know you are extremely passionate about issues central to your organisation.
            <br></br>
            We now want your assistance to facilitate an environment that provides equal opportunities for all. To create a basic sustainable operational structure , we need organisations like you who can collect and donate books from our users in their premises.
            <br></br>Thank you for all your efforts in making India Beautiful! We look forward to a long partnership with you.
            <p>
              <a href="signupCentre">Signup to Join Us!</a>

            </p>
          </p>
        </div>

        <div class="partners right">
          <a href="signupCentre">
            <h1> Schools , Colleges & Universities </h1>
          </a>
          <br></br>
          <p>
            You were the one who taught us the value of education. You made us believe Education is one of the most important investments a country can make in its people and its future.
            <br></br>We now need your help in giving everyone a fair shot at a great education! You can help us by collecting unused books from your students. By placing collection bins in your premises, You will provide someone tool to help them better provide
            for themselves and their family.
            <br></br>We look forward to learning more from you!

            <br></br> <a href="signupCentre">Signup to Join Us!</a>
            <br></br>
          </p>

        </div>
      </div>
      <div class="clear"><a href="#linktotop">Link to Top</a>
      </div>
      <div id="footer">
        <a href="home">
          <h1>Happy Booksgiving! </h1>
        </a>
      </div>
      <div id="tag">
        Donate and borrow books
      </div>
    </div>

  </div>
</body>

</html>
