<!-- /centre/signup/<str:centre_id>/thankyou  -->

<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Login</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/ngosignup_stylesheet.css">



</head>

<body>

<div id="main">
	<div id="register_note">
			<h2> {{user.name}}, Thank you for registering to be a partner of <a href="home.html">Happy Booksgivings!</a></h2>
		<div id="content"	>
			<p>
				Happy Booksgiving is all about increasing acess to Books for all.
		 		 We are glad to have you onboard with us!
			 You will receive an account activation email with in the next 48 hours. Thank you for your patience!<br></br>	Your HappyBooksgiving account will help you to keep an inventory of Books available at your center. It will also help you keep a tab on donations and borrowing made in your center. You will have a complete list of your donors and borrowers at a click of a button.
			</p>
			</div>
	</div>
	<div id="footer">
		<a href="home.html">
			<h1>Happy Booksgiving! </h1>
		</a>
</div>
</div>
<script type="text/javascript">
setTimeout("window.location='home.html'",15000);
</script>
	</body>

</html>
